@use "sass:meta";

table.dataTable.fixedHeader-floating,
table.dataTable.fixedHeader-locked {
    position: relative !important;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
}

@include meta.load-css('print.scss');
