@use "sass:meta";

table.dataTable.fixedHeader-floating,
table.dataTable.fixedHeader-locked {
	position: relative !important;
	background-color: white;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

@include meta.load-css('print.scss');
